.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.list__item {
  display: flex;
  align-items: center;
}

.list__checkbox {
  margin-right: 5px;
}

.table__user {
  margin: 0;
}

.table__cell-title {
  color: blue;
  width: 25%;
  border: 1px solid gray;
}

.form {
  max-width: 30%;
  width: 100%;
  margin-left: 30px;
}

.row-c {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input__c {
  margin-right: 15px;
}

.input__po {
  margin-right: 5px;
}