header {
  display: flex;
  background-color: #26a69a;
}

.menu {
text-align: left;
display: flex;
justify-content: center;
align-items: center;
}

.title {
  width: 50%;
  text-align: center;
  color: bisque;
}

.nit {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.container_1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.cl1, .cl2, .cl3 {
  color: white;
  cursor: pointer;
  transition: color .3s linear;
}

.clmenu {
  color: white;
  cursor: pointer;
  transition: color .3s linear;
  margin-left:15px;
}

.cl2:hover, .cl3:hover {
  color: blue;
}

.striped {
  margin-right: 30px;
}

.filter {
  margin-bottom: 50px;
}

.input-field {
  margin-bottom: 30px;
}

.text {
  margin-bottom: 30px;
}

th {
  color: #26a69a;
}

td {
  color: black;
}

.ul_wrapper {
  text-align: center;
}

a {
color: #26a69a;
}

.myalert{
opacity: 0.4;
margin-top: 200px;
margin-left: 600px;
font-size: 2rem;
}

.mysidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}