{% extends "publications_table/main.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load widget_tweaks %}
{% load static %}

<body>
<div class="wrapper">
    <form action="{% url 'json_search' %}" method="get" name="search">
    {% render_field form2.search class="form-control" placeholder="Поиск"%}
    <br/>
    <input type="submit" value="Найти">
  </form>
<table class="table" align="left">
  <thead>
    <tr>
      <th scope="col"><a>Звание</a></th>
      <th scope="col"><a>ФИО</a></th>
      <th scope="col"><a>Должность</a></th>
      <th scope="col"><a href="{% url 'sort' 4 %}">Название</a></th>
      <th scope="col"><a href="{% url 'sort' 5 %}">Издание</a></th>
      <th scope="col"><a href="{% url 'sort' 6 %}">Год публикации</a></th>
      <th scope="col"><a href="{% url 'sort' 7 %}">Тип публикации</a></th>
      <th scope="col"><a href="{% url 'sort' 8 %}">Диапазон</a></th>
      <th scope="col"><a href="{% url 'sort' 9 %}">Номер УК</a></th>
    </tr>
  </thead>
  <tbody>
    {% for publication in publications%}
      <tr>
        <td>
        {% for author in publication.authors.all%}
          {{author.military_rank}}
          {% endfor %}
        </td>
         <td>
        {% for author in publication.authors.all%}
          {{author.get_initials}}
           {% endfor %}
        </td>
         <td>
        {% for author in publication.authors.all%}
          {{author.work_position}}
          {% endfor %}
        </td>
        <td>{{publication.title}}</td>
        <td>{{publication.edition}}</td>
        <td>{{publication.published_year}}</td>
        <td>{{publication.type_of_publication}}</td>
        <td>{{publication.range}}</td>
        <td>{{publication.uk_number}}</td>
        <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'publication-update' publication.id %}">Update</a></td>
        <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'publication-delete' publication.id %}">Delete</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
  <form action="" method="get">
    {% render_field form.min_year class="form-control" placeholder="c"%}
    <br/>
    {% render_field form.max_year class="form-control" placeholder="по"%}
    <br/>
    {% render_field form.rank class="list"%}
    <br/>
    {% render_field form.type_of_publication class="list"%}
  <input type="submit" value="Показать результаты">
</form>
</div>
   <form action="" method="get">
   {% render_field form3.file_name  placeholder="файл"%}
  <input type="submit" value="Экспорт">
 </form>
<script src="http://twitter.github.com/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
{% endblock content %}

