{% extends "publications_table/main.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load widget_tweaks %}
{% load static %}

<body>
<div class="wrapper">
  <form action="{% url 'json_search' %}" method="get" name="search">
    {% render_field form2.search class="form-control" placeholder="Поиск"%}
    <br/>
    <input type="submit" value="Найти">
  </form>
  <form action="" method="get">
    {% render_field form3.file_name class="form-control" placeholder="название файла"%}
    <br/>
    <input type="submit" value="Экспорт">
    {% if table %}
      <a  href="{{ table.file.url }}" download="{{ table.file.url }}">Скачать</a>
    {% endif %}
  </form>
<table class="table table-borderless" align="left">
  <thead>
    <tr>
      <th scope="col"><a href="{% url 'sort' 1 %}">Название</a></th>
      <th scope="col"><a href="{% url 'sort' 2 %}">Издание</a></th>
      <th scope="col"><a href="{% url 'sort' 3 %}">Год публикации</a></th>
      <th scope="col"><a href="{% url 'sort' 4 %}">Тип публикации</a></th>
      <th scope="col"><a href="{% url 'sort' 5 %}">Диапазон</a></th>
      <th scope="col"><a href="{% url 'sort' 6 %}">Номер УК</a></th>
    </tr>
  </thead>
  <tbody>
    {% for publication in publications%}
      <tr>
        <td><a class="btn btn-outline-info" href="{% url 'info' publication.id %}">{{publication.title}}</a></td>
        <td>{{publication.edition}}</td>
        <td>{{publication.published_year}}</td>
        <td>{{publication.type_of_publication}}</td>
        <td>{{publication.range}}</td>
        <td>{{publication.uk_number}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
  <form action="" method="get">
    <p>Год издания:</p>
    {% render_field form.min_year class="form-control" placeholder="c"%}
    <br/>
    {% render_field form.max_year class="form-control" placeholder="по"%}
    <br/>
    {% render_field form.rank class="list"%}
    <br/>
    {% render_field form.type_of_publication class="list"%}
  <input type="submit" value="Показать результаты">
</form>
</div>
<nav class="pagination justify-content-center" aria-label="...">
  <ul class="pagination">
    {% for n in publications.paginator.page_range %}
        {% if publications.number == n %}
            <li class="page-item active" aria-current="page">
                  <span class="page-link" href="?page={{n}}">{{n}}</span>
                </li>
        {% elif n > publications.number|add:-2 and n < publications.number|add:2%}
          <li class="page-item">
            <a class="page-link" href="?page={{n}}">{{n}}</a>
          </li>
        {% endif %}
    {% endfor %}
  </ul>
</nav>
<script src="http://twitter.github.com/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
{% endblock content %}

