{% extends "publications_table/main.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load widget_tweaks %}
{% load static %}
<body>
<div class="body">
  <div class="container_1">
    {% if authors %}
    <table class="striped">
      <thead>
        <tr>
          <th><a href="#">ФИО</a></th>
          <th><a href="#">Должность</a></th>
          <th><a href="#">Звание</a></th>
        </tr>
      </thead>
      <tbody>
        {% for author in authors%}
          <tr>
            <td><a href="{% url 'author_info' author.id %}">{{author.initials}}</a></td>
            <td>{{author.work_position}}</td>
            <td>{{author.military_rank}}</td>
            <td><a class="btn-secondary btn-sm mt-1 mb-1" href="{% url 'author-update' author.id %}"><img src="{% static 'images/update_picture.jpg'%}" width="20" height="20"></a></td>
            <td><a class="btn-secondary btn-sm mt-1 mb-1" href="{% url 'author-delete' author.id %}"><img src="{% static 'images/delete_picture.png'%}" width="20" height="20"></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="myalert">Таблица пока что пустая</p>
    {% endif %}
  </div>
</div>
{% if authors %}
<div class="ul_wrapper">
  <ul class="pagination">
    {% for n in authors.paginator.page_range %}
        {% if authors.number == n %}
    <li class="active waves-effect"><a href="?page={{n}}">{{n}}</a></li>
    {% elif n > authors.number|add:-2 and n < authors.number|add:2%}
    <li class="waves-effect"><a href="?page={{n}}">{{n}}</a></li>
    {% endif %}
{% endfor %}
  </ul>
</div>
{% endif %}
</body>
{% endblock content %}