{% extends "publications_table/main2.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load widget_tweaks %}
<main role="main" class="container">
<div class="content-section">
        <form method="POST">
            {% csrf_token %}
                {% render_field form.surname class="form-control" placeholder="Фамилия" %}
                <br/>
                {% render_field form.name class="form-control" placeholder="Имя" %}
                <br/>
                {% render_field form.patronymic class="form-control" placeholder="Отчество" %}
                <br/>
                {% render_field form.military_rank class="form-control" placeholder="Звание"%}
                <br/>
                {% render_field form.work_position class="form-control" placeholder="Должность"%}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</main>
{% endblock content %}