{% extends "publications_table/main.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
        <form method="POST" class="content-section">
        {% csrf_token %}
            <div class="input-field col s6">
            {% render_field form.surname class="validate" id="surname" type="text"  %}
            <label for="surname">Фамилия</label>
            </div>
            <div class="input-field col s6">
            {% render_field form.name class="validate" id="name" type="text" %}
            <label for="name">Имя</label>
            </div>
            <div class="input-field col s6">
            {% render_field form.patronymic class="validate" id="patronymic" type="text" %}
            <label for="patronymic">Отчество</label>
            </div>
            <div class="input-field col s6">
            {% render_field form.military_rank class="validate" id="military_rank" type="text" %}
            <label for="military_rank">Звание</label>
            </div>
            <div class="input-field col s6">
            {% render_field form.work_position class="validate" id="military_rank" type="text"%}
            <label for="work_position">Должность</label>
            </div>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Создать</button>
        </div>
        </form>
</div>
{% endblock content %}