<!DOCTYPE html>
{% load static %}
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <title>Publisher</title>
</head>
<body>
    <div class="body">
      <header>
          <div class="menu">
            <a data-target="slide-out" class="sidenav-trigger">
                    <p><img class="cl3" width="25px" height="25px" src="{% static 'images/menu.svg' %}"></p>
            </a>
          </div>
        <div class="title">
          <p><a class="cl2" href="{% url 'all' %}">Publisher</a></p>
        </div>
          <div class="nit">
            {% if publications.object_list.all %}
              <p class="cl1">Сейчас в таблице: {{publications.object_list.all.count}} записи/ей <p>
              {% else %}
              {% endif %}
              <ul id="slide-out" class="sidenav">
                <li><div class="user-view">
                  <li><a class="waves-effect" href="{% url 'all' %}">Публикации</a></li>
                  <li><a class="waves-effect" href="{% url 'all_authors' %}">Авторы</a></li>
                  <li><a class="cl2" href="{% url 'all_types' %}">Типы публикаций</a></li>
                  <li><a class="cl2" href="{% url 'publication-create' %}">Добавить новую запись</a></li>
                  <li><a class="cl3" href="{% url 'create-type' %}">Добавить тип публикации</a></li>
                  <li><a class="cl3" href="{% url 'create-author' %}">Добавить автора</a></li>
              </ul>
            </div>
      </header>
    </div>
    {% block content %} {% endblock %}


<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script>
 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {});
  });
</script>
</body>
</html>
