<!DOCTYPE html>
{% load static %}
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
     <link rel="shortcut icon" type="image/jpeg" href="{% static 'images/favicon.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <title>Publisher</title>
</head>
<body>
    <div class="body">
      <header>
          <div class="menu">
              <p><a class="cl4" href="{% url 'all' %}">Публикации</a></p>
              <p><a class="cl4" href="{% url 'all_types' %}">Типы</a></p>
              <p><a class="cl4" href="{% url 'all_authors' %}">Авторы</a></p>
          </div>
        <div class="title">
          <p><a class="cl2" href="{% url 'all' %}">Publisher</a></p>
        </div>
          <div class="nit">
            {% if publications.object_list.all %}
              <p class="cl1">Сейчас в таблице: {{publications.object_list.all.count}} записи/ей <p>
              {% else %}
              {% endif %}
              {% if publications.number %}
                  <p><a class="cl2" href="{% url 'publication-create'%}">Добавить запись</a></p>
              {% endif %}
              {% if authors.number %}
                  <p><a class="cl2" href="{% url 'create-author'%}">Добавить автора</a></p>
              {% endif %}
              {% if types.number %}
                  <p><a class="cl2" href="{% url 'create-type'%}">Добавить тип</a></p>
              {% endif %}
              <ul id="slide-out" class="sidenav">
                  <li><div class="user-view"></div>
                  <li><a class="cl2" href="{% url 'all' %}">Публикации</a></li>
                  <li><a class="cl2" href="{% url 'all_authors' %}">Авторы</a></li>
                  <li><a class="cl2" href="{% url 'all_types' %}">Типы публикаций</a></li>
              </ul>
            </div>
      </header>
    </div>
    {% block content %} {% endblock %}


<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script>
 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {});
  });
</script>
</body>
</html>
