{% extends "publications_table/main2.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load widget_tweaks %}
<main role="main" class="container">
<div class="content-section">
        <form method="POST">
            {% csrf_token %}
             <div class="input-field col s6">
                 {% render_field form.title type="text" id="table_name" class="validate" %}
                  <label for="table_name">Название статьи</label>
            </div>
            {% for x in authors %}
            {% if x in publication.authors.all %}
             <p>
                <label>
                   <input type="checkbox" checked="checked" name="authors" id="authors"  value='{{ x.id }}'  />
                   <span>{{x}}</span>
                </label>
             </p>
            {% else %}
            <p>
                <label>
                   <input type="checkbox" name="authors" id="authors"  value='{{ x.id }}'/>
                   <span>{{x}}</span>
                </label>
             </p>
            {% endif%}
            {% endfor %}
            <a class="nav-link disabled font-italic" href="{% url 'create-author' %}">добавить автора</a>
            <br>
            <div class="input-field col s6">
                {% render_field form.edition type="text" id="edition" class="validate"%}
                <label for="edition">издание</label>
            </div>
            <a class="nav-link disabled font-italic" href="{% url 'create-type' %}">добавить тип</a>
            <br>
            <br>
            {% render_field form.type_of_publication class="browser-default"%}
            <div class="input-field col s6">
                {% render_field form.published_year type="text" id="published_year" class="validate"%}
                 <label for="published_year">год публикации</label>
            </div>
            <div class="input-field col s6">
                {% render_field form.range type="text" id="range" class="validate"%}
                <label for="range">диапазон</label>
            </div>
            <div class="input-field col s6">
                {% render_field form.uk_number type="text" id="uk_number" class="validate"%}
                <label for="uk_number">номер УК</label>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</main>
{% endblock content %}